* {
    margin: 0;
    padding: 0;
    /* box-sizing: border-box; */
}

/* body {
    background-color: black;
    color: aliceblue;
} */

.left {
    width: 25vw;
    padding: 3px;
}

.right {
    width: 75vw;
    margin: 9px 0px;
    position: relative;
}

.home {
    padding: 10px;


}

.home ul li {
    list-style: disc;
    gap: 13px;
    width: 14px;
    display: flex;
    padding: 7px;
    font-weight: bold;
}

.library li {
    list-style: none;
    gap: 13px;
    width: 14px;
    display: flex;
    padding: 7px;
    font-weight: bold;
}

.library {
    min-height: 100vh;
        /* to make it scrollable */
    position: relative;
}

.footer {
    position: absolute;
    bottom: 0px;
    display: flex;
    font-size: 10px;
    gap: 13px;
    flex-wrap: wrap;
    /* color: gray;   it will not work because it control text color not <a> tag */
}

.footer a {
    color: rgb(247, 241, 241);
    padding: 4px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 4px;
    background-color: rgb(94, 94, 95);
    height: 55px;

}

.header > * {
    padding: 16px;

}

.spotifyPlaylist {
    padding: 16px;
}

.cardContainer {
    margin: 10px;
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    max-height: 55vh;
    overflow-y: scroll;

}

.card {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: rgb(111, 103, 103);
    position: relative;
}

.card img {
    width: 100%;
    object-fit: contain;
}

.card > * {
    padding-top: 7px;
}

.play {
    width: 41px;
    height: 35px;
    background-color: rgb(57, 185, 48);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 11px;
    top: 77px;
    opacity: 1;
    transition: all 0.3s ease-in-out;
}

.play svg {
    width: 24px;
    height: 24px;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;
}

.buttons > *{
    margin: 0 12px;
}
.signup{
    background-color:#5e5e5f;
    color: rgb(201, 200, 200);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
}
.signup:hover {
    font-size: .95rem;
    color: white;
}

.login {
    background-color:white;
    color: black;
    border-radius: 99px;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 20px;
}
.login:hover {
    width: 90px;
    font-size: .8rem;
    font-weight: bold;
}