.border{
    border: 2px solid red;
    margin: 3px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
    width: 12px;
}

.bg-gray {
    background-color: rgb(60, 59, 59);
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.m-2 {
    margin: 12px;
}

.p-1 {
    padding: 5px;
}

.p-2 {
    padding: 12px;
}